n8n-workflows/workflow-product-enricher.json
{
  "name": "n8nPress — AI Product Enricher",
  "active": true,
  "nodes": [
    {
      "parameters": {
        "path": "product-enrich",
        "responseMode": "responseNode",
        "options": { "rawBody": true }
      },
      "name": "Webhook - Product Received",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 400],
      "id": "wh-product-enrich-01"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "prep-product",
              "name": "product",
              "value": "={{ $json.body.product }}",
              "type": "object"
            },
            {
              "id": "prep-options",
              "name": "options",
              "value": "={{ $json.body.options }}",
              "type": "object"
            },
            {
              "id": "prep-callback",
              "name": "callback_url",
              "value": "={{ $json.body._meta?.callback_url || $json.body.callback_url }}",
              "type": "string"
            },
            {
              "id": "prep-max-tokens",
              "name": "max_tokens",
              "value": "={{ $json.body._meta?.max_tokens || $json.body.max_tokens || 1024 }}",
              "type": "number"
            },
            {
              "id": "prep-model",
              "name": "model",
              "value": "={{ $json.body._meta?.model || $json.body.model || 'claude-haiku-4-5' }}",
              "type": "string"
            },
            {
              "id": "prep-api-token",
              "name": "api_token",
              "value": "={{ $json.body._meta?.api_token }}",
              "type": "string"
            },
            {
              "id": "prep-site-url",
              "name": "site_url",
              "value": "={{ $json.body._meta?.site_url }}",
              "type": "string"
            }
          ]
        }
      },
      "name": "Prepare Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [460, 400],
      "id": "set-prepare-01"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"success\": true, \"message\": \"Product enrichment started\", \"product_id\": {{ $json.product.id }} }"
      },
      "name": "Respond Immediately",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [460, 240],
      "id": "respond-accepted-01"
    },
    {
      "parameters": {
        "model": "={{ $('Prepare Data').first().json.model || 'claude-haiku-4-5' }}",
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "Sen bir e-ticaret SEO uzmanısın. Müzik enstrümanları konusunda uzmansın. Verilen ürün bilgilerine göre SEO-optimized içerik üreteceksin. Yanıtını SADECE JSON formatında ver, başka hiçbir şey ekleme."
            },
            {
              "role": "user",
              "content": "=Aşağıdaki ürün için SEO-optimized içerik üret:\n\nÜrün Adı: {{ $json.product.name }}\nKategori: {{ $json.product.categories.join(', ') }}\nFiyat: {{ $json.product.price }} {{ $json.product.currency || 'TRY' }}\nSKU: {{ $json.product.sku }}\nMevcut Açıklama: {{ $json.product.description || 'Yok' }}\nKısa Açıklama: {{ $json.product.short_description || 'Yok' }}\nÖzellikler: {{ JSON.stringify($json.product.attributes) }}\nAğırlık: {{ $json.product.weight || 'Belirtilmemiş' }}\nBoyutlar: {{ JSON.stringify($json.product.dimensions) }}\n\nAşağıdaki JSON yapısında yanıt ver:\n{\n  \"description\": \"Detaylı HTML ürün açıklaması (en az 200 kelime, <h3>, <p>, <ul> kullan)\",\n  \"short_description\": \"Kısa açıklama (1-2 cümle, anahtar kelime dahil)\",\n  \"meta_title\": \"SEO başlığı (max 60 karakter)\",\n  \"meta_description\": \"SEO meta açıklaması (max 155 karakter)\",\n  \"faq\": [\n    { \"question\": \"Soru 1\", \"answer\": \"Yanıt 1\" },\n    { \"question\": \"Soru 2\", \"answer\": \"Yanıt 2\" },\n    { \"question\": \"Soru 3\", \"answer\": \"Yanıt 3\" },\n    { \"question\": \"Soru 4\", \"answer\": \"Yanıt 4\" },\n    { \"question\": \"Soru 5\", \"answer\": \"Yanıt 5\" }\n  ],\n  \"alt_text_main\": \"Ana görsel alt text (ürün adı + anahtar kelime)\",\n  \"tags\": [\"önerilen\", \"etiketler\"]\n}"
            }
          ]
        },
        "options": {
          "temperature": 0.7,
          "maxTokens": "={{ $('Prepare Data').first().json.max_tokens || 1024 }}"
        }
      },
      "name": "AI - Generate Content",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1,
      "position": [700, 400],
      "id": "ai-generate-content-01",
      "credentials": {
        "anthropicApi": {
          "id": "ANTHROPIC_CREDENTIAL_ID",
          "name": "Anthropic API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Parse AI response and build enrichment payload\nconst aiResponse = $input.first().json;\nconst product = $('Prepare Data').first().json.product;\nconst options = $('Prepare Data').first().json.options;\nconst callbackUrl = $('Prepare Data').first().json.callback_url;\n\n// Extract text content from AI response\nlet content;\ntry {\n  // AI may return JSON in text field\n  const text = aiResponse.message?.content?.[0]?.text || aiResponse.text || JSON.stringify(aiResponse);\n  // Find JSON in response\n  const jsonMatch = text.match(/\\{[\\s\\S]*\\}/);\n  content = JSON.parse(jsonMatch[0]);\n} catch (e) {\n  throw new Error('Failed to parse AI response: ' + e.message);\n}\n\n// Build Product schema JSON-LD\nconst schema = {\n  \"@context\": \"https://schema.org\",\n  \"@type\": \"Product\",\n  \"name\": product.name,\n  \"description\": content.short_description,\n  \"sku\": product.sku,\n  \"image\": product.image_url,\n  \"url\": product.permalink,\n  \"offers\": {\n    \"@type\": \"Offer\",\n    \"price\": product.price,\n    \"priceCurrency\": \"TRY\",\n    \"availability\": product.stock_status === 'instock' ? \"https://schema.org/InStock\" : \"https://schema.org/OutOfStock\",\n    \"url\": product.permalink\n  }\n};\n\n// Build callback payload\nconst payload = {\n  product_id: product.id,\n  callback_url: callbackUrl\n};\n\nif (options.generate_description) {\n  payload.description = content.description;\n}\nif (options.generate_short_description) {\n  payload.short_description = content.short_description;\n}\nif (options.generate_meta_title) {\n  payload.meta_title = content.meta_title;\n}\nif (options.generate_meta_description) {\n  payload.meta_description = content.meta_description;\n}\nif (options.generate_faq && content.faq) {\n  payload.faq = content.faq;\n}\nif (options.generate_schema) {\n  payload.schema = JSON.stringify(schema);\n}\nif (options.generate_alt_text && content.alt_text_main) {\n  payload.alt_texts = {\n    main: content.alt_text_main\n  };\n}\nif (content.tags) {\n  payload.suggested_tags = content.tags;\n}\n\nreturn [{ json: payload }];"
      },
      "name": "Process Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [940, 400],
      "id": "code-process-result-01"
    },
    {
      "parameters": {
        "url": "={{ $json.callback_url }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Bearer {{ $('Prepare Data').first().json.api_token }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": []
        },
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {
          "timeout": 30000,
          "redirect": { "redirect": {} }
        }
      },
      "name": "Send to WordPress",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1180, 400],
      "id": "http-callback-01"
    },
    {
      "parameters": {
        "url": "={{ $('Prepare Data').first().json.site_url }}/wp-json/n8npress/v1/token-usage",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $('Prepare Data').first().json.api_token }}" },
            { "name": "Content-Type",  "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ workflow: 'product-enricher', provider: 'anthropic', model: $('Prepare Data').first().json.model || 'claude-haiku-4-5', input_tokens: $('AI - Generate Content').first().json.usage?.input_tokens ?? 0, output_tokens: $('AI - Generate Content').first().json.usage?.output_tokens ?? 0, execution_id: $execution.id }) }}",
        "options": { "timeout": 10000 }
      },
      "name": "Report Token Usage",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1400, 400],
      "id": "http-report-tokens-01",
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true },
          "conditions": [
            {
              "leftValue": "={{ $('Send to WordPress').first().json.success }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "equals" }
            }
          ]
        }
      },
      "name": "Success?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1620, 400],
      "id": "if-success-01"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "log-success",
              "name": "log",
              "value": "=Product #{{ $('Prepare Data').first().json.product.id }} enriched successfully. Updated: {{ $json.updated_fields?.join(', ') || 'unknown' }}",
              "type": "string"
            }
          ]
        }
      },
      "name": "Success Log",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [1840, 340],
      "id": "set-log-success-01"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "log-fail",
              "name": "log",
              "value": "=Product enrichment callback failed for #{{ $('Prepare Data').first().json.product.id }}: {{ $json.message || 'Unknown error' }}",
              "type": "string"
            }
          ]
        }
      },
      "name": "Error Log",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [1840, 500],
      "id": "set-log-fail-01"
    }
  ],
  "connections": {
    "Webhook - Product Received": {
      "main": [
        [
          { "node": "Prepare Data", "type": "main", "index": 0 },
          { "node": "Respond Immediately", "type": "main", "index": 0 }
        ]
      ]
    },
    "Prepare Data": {
      "main": [
        [{ "node": "AI - Generate Content", "type": "main", "index": 0 }]
      ]
    },
    "AI - Generate Content": {
      "main": [
        [{ "node": "Process Result", "type": "main", "index": 0 }]
      ]
    },
    "Process Result": {
      "main": [
        [{ "node": "Send to WordPress", "type": "main", "index": 0 }]
      ]
    },
    "Send to WordPress": {
      "main": [
        [{ "node": "Report Token Usage", "type": "main", "index": 0 }]
      ]
    },
    "Report Token Usage": {
      "main": [
        [{ "node": "Success?", "type": "main", "index": 0 }]
      ]
    },
    "Success?": {
      "main": [
        [{ "node": "Success Log", "type": "main", "index": 0 }],
        [{ "node": "Error Log", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "timezone": "Europe/Istanbul",
    "saveManualExecutions": true,
    "executionOrder": "v1"
  },
  "meta": {
    "description": "Receives WooCommerce product via webhook, generates SEO-optimized content (description, meta, FAQ, schema, alt text) with Claude AI, sends results back via callback. All config via _meta block from WordPress.",
    "required_env": [],
    "required_credentials": ["anthropicApi"],
    "workflow_flow": "Webhook → Prepare → AI Generate → Process → Callback to WP → Log"
  }
}