n8n-workflows/workflow-crm-lifecycle.json
{
    "name": "n8nPress — CRM Lifecycle Automation",
    "active": true,
    "nodes": [
        {
            "parameters": {
                "path": "crm-lifecycle",
                "responseMode": "responseNode",
                "options": {
                    "rawBody": true
                }
            },
            "name": "Webhook - Campaign Trigger",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2,
            "position": [
                240,
                300
            ],
            "id": "wh-crm-01"
        },
        {
            "parameters": {
                "rule": {
                    "interval": [
                        {
                            "field": "cronExpression",
                            "expression": "0 9 * * *"
                        }
                    ]
                }
            },
            "name": "Daily 9AM",
            "type": "n8n-nodes-base.scheduleTrigger",
            "typeVersion": 1.2,
            "position": [
                240,
                500
            ],
            "id": "sched-crm-01"
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={{ JSON.stringify({ success: true, message: 'Lifecycle processing started' }) }}",
                "options": []
            },
            "name": "Respond OK",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1.1,
            "position": [
                500,
                220
            ],
            "id": "respond-crm-01"
        },
        {
            "parameters": {
                "method": "GET",
                "url": "={{ $env.WP_SITE_URL }}/wp-json/n8npress/v1/site-config",
                "authentication": "predefinedCredentialType",
                "nodeCredentialType": "httpHeaderAuth",
                "options": {
                    "timeout": 15000
                }
            },
            "name": "Site Config",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                500,
                400
            ],
            "id": "crm-site-config"
        },
        {
            "parameters": {
                "method": "GET",
                "url": "={{ $env.WP_SITE_URL }}/wp-json/n8npress/v1/crm/lifecycle-queue",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Authorization",
                            "value": "Bearer {{ $('Site Config').first().json.n8npress?.api_token }}"
                        }
                    ]
                },
                "options": {
                    "timeout": 15000
                }
            },
            "name": "Fetch Lifecycle Queue",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4,
            "position": [
                740,
                400
            ],
            "id": "http-lifecycle-queue-01"
        },
        {
            "parameters": {
                "jsCode": "// Split lifecycle events by type\nconst data = $input.first().json;\nconst events = data.events || [];\n\nif (events.length === 0) {\n  return [{ json: { hasEvents: false, message: 'No pending lifecycle events' } }];\n}\n\nreturn events.map(e => ({\n  json: {\n    hasEvents: true,\n    ...e\n  }\n}));"
            },
            "name": "Process Events",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                980,
                400
            ],
            "id": "code-process-events-01"
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": true
                    },
                    "conditions": [
                        {
                            "leftValue": "={{ $json.hasEvents }}",
                            "rightValue": true,
                            "operator": {
                                "type": "boolean",
                                "operation": "equals"
                            }
                        }
                    ]
                }
            },
            "name": "Has Events?",
            "type": "n8n-nodes-base.if",
            "typeVersion": 2,
            "position": [
                1200,
                400
            ],
            "id": "if-has-events-01"
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": true
                    },
                    "conditions": [
                        {
                            "leftValue": "={{ $json.type }}",
                            "rightValue": "post_purchase",
                            "operator": {
                                "type": "string",
                                "operation": "equals"
                            }
                        }
                    ]
                }
            },
            "name": "Event Type Router",
            "type": "n8n-nodes-base.switch",
            "typeVersion": 3,
            "position": [
                1440,
                400
            ],
            "id": "switch-event-type-01",
            "parameters2": {
                "rules": {
                    "rules": [
                        {
                            "outputKey": "post_purchase",
                            "conditions": {
                                "conditions": [
                                    {
                                        "leftValue": "={{ $json.type }}",
                                        "rightValue": "post_purchase",
                                        "operator": {
                                            "type": "string",
                                            "operation": "equals"
                                        }
                                    }
                                ]
                            }
                        },
                        {
                            "outputKey": "review_request",
                            "conditions": {
                                "conditions": [
                                    {
                                        "leftValue": "={{ $json.type }}",
                                        "rightValue": "review_request",
                                        "operator": {
                                            "type": "string",
                                            "operation": "equals"
                                        }
                                    }
                                ]
                            }
                        },
                        {
                            "outputKey": "win_back",
                            "conditions": {
                                "conditions": [
                                    {
                                        "leftValue": "={{ $json.type }}",
                                        "rightValue": "win_back",
                                        "operator": {
                                            "type": "string",
                                            "operation": "equals"
                                        }
                                    }
                                ]
                            }
                        }
                    ]
                }
            }
        },
        {
            "parameters": {
                "jsCode": "// Build thank-you email for post-purchase\nconst event = $input.first().json;\nconst siteConfig = $('Site Config').first().json;\nconst storeName = siteConfig.site?.name || 'Store';\nconst siteUrl = siteConfig.site?.url || '';\n\nreturn [{\n  json: {\n    event_id: event.event_id,\n    email_to: event.email,\n    email_subject: `Thank you for your order, ${event.name}!`,\n    email_html: `<h2>Thank you, ${event.name}!</h2>\n<p>We appreciate your order from ${storeName}. Your order #${event.order_id} is being prepared.</p>\n<p>If you have any questions, don't hesitate to reach out.</p>\n<p>Best regards,<br>${storeName} Team</p>\n<p><a href=\"${siteUrl}\">Visit our store</a></p>`,\n    type: 'post_purchase'\n  }\n}];"
            },
            "name": "Build Thank You Email",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                1700,
                280
            ],
            "id": "code-thankyou-01"
        },
        {
            "parameters": {
                "jsCode": "// Build review request email\nconst event = $input.first().json;\nconst siteConfig = $('Site Config').first().json;\nconst storeName = siteConfig.site?.name || 'Store';\nconst siteUrl = siteConfig.site?.url || '';\n\nreturn [{\n  json: {\n    event_id: event.event_id,\n    email_to: event.email,\n    email_subject: `${event.name}, how was your experience with ${storeName}?`,\n    email_html: `<h2>Hi ${event.name},</h2>\n<p>We hope you're enjoying your recent purchase from ${storeName}!</p>\n<p>Would you take a moment to share your experience? Your review helps other musicians find the perfect instrument.</p>\n<p><a href=\"${siteUrl}/my-account/orders/\" style=\"display:inline-block;padding:10px 20px;background:#6366f1;color:#fff;text-decoration:none;border-radius:5px;\">Leave a Review</a></p>\n<p>Thank you!<br>${storeName} Team</p>`,\n    type: 'review_request'\n  }\n}];"
            },
            "name": "Build Review Request",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                1700,
                420
            ],
            "id": "code-review-req-01"
        },
        {
            "parameters": {
                "jsCode": "// Build win-back email for at-risk customers\nconst event = $input.first().json;\nconst siteConfig = $('Site Config').first().json;\nconst storeName = siteConfig.site?.name || 'Store';\nconst siteUrl = siteConfig.site?.url || '';\n\nreturn [{\n  json: {\n    event_id: event.event_id,\n    email_to: event.email,\n    email_subject: `We miss you, ${event.name}! Check out what's new at ${storeName}`,\n    email_html: `<h2>Hi ${event.name},</h2>\n<p>It's been a while since your last visit to ${storeName}. We've added new instruments and accessories that we think you'll love.</p>\n<p><a href=\"${siteUrl}/shop/\" style=\"display:inline-block;padding:10px 20px;background:#6366f1;color:#fff;text-decoration:none;border-radius:5px;\">Explore New Arrivals</a></p>\n<p>We'd love to see you back!<br>${storeName} Team</p>`,\n    type: 'win_back'\n  }\n}];"
            },
            "name": "Build Win-Back Email",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                1700,
                560
            ],
            "id": "code-winback-01"
        },
        {
            "parameters": {
                "method": "POST",
                "url": "={{ $env.WP_SITE_URL }}/wp-json/n8npress/v1/send-email",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        },
                        {
                            "name": "Authorization",
                            "value": "Bearer {{ $('Site Config').first().json.n8npress?.api_token }}"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={\n  \"to\": \"{{ $json.email_to }}\",\n  \"subject\": {{ JSON.stringify($json.email_subject) }},\n  \"html\": {{ JSON.stringify($json.email_html) }}\n}",
                "options": {
                    "timeout": 15000
                }
            },
            "name": "Send Email",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4,
            "position": [
                1960,
                420
            ],
            "id": "http-send-email-01"
        },
        {
            "parameters": {
                "method": "POST",
                "url": "={{ $env.WP_SITE_URL }}/wp-json/n8npress/v1/crm/lifecycle-callback",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        },
                        {
                            "name": "Authorization",
                            "value": "Bearer {{ $('Site Config').first().json.n8npress?.api_token }}"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={\n  \"event_id\": {{ JSON.stringify($json.event_id) }},\n  \"status\": \"completed\"\n}",
                "options": {
                    "timeout": 10000
                }
            },
            "name": "Mark Event Done",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4,
            "position": [
                2200,
                420
            ],
            "id": "http-mark-done-01"
        }
    ],
    "connections": {
        "Webhook - Campaign Trigger": {
            "main": [
                [
                    {
                        "node": "Respond OK",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "Site Config",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Daily 9AM": {
            "main": [
                [
                    {
                        "node": "Site Config",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Site Config": {
            "main": [
                [
                    {
                        "node": "Fetch Lifecycle Queue",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Fetch Lifecycle Queue": {
            "main": [
                [
                    {
                        "node": "Process Events",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Process Events": {
            "main": [
                [
                    {
                        "node": "Has Events?",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Has Events?": {
            "main": [
                [
                    {
                        "node": "Event Type Router",
                        "type": "main",
                        "index": 0
                    }
                ],
                []
            ]
        },
        "Event Type Router": {
            "main": [
                [
                    {
                        "node": "Build Thank You Email",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Build Review Request",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Build Win-Back Email",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Build Thank You Email": {
            "main": [
                [
                    {
                        "node": "Send Email",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Build Review Request": {
            "main": [
                [
                    {
                        "node": "Send Email",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Build Win-Back Email": {
            "main": [
                [
                    {
                        "node": "Send Email",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Send Email": {
            "main": [
                [
                    {
                        "node": "Mark Event Done",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "settings": {
        "timezone": "Europe/Istanbul",
        "saveManualExecutions": true,
        "executionOrder": "v1",
        "errorWorkflow": "7Pv7BtdURlzf9HsZ"
    },
    "meta": {
        "description": "Customer lifecycle automation — processes pending events from CRM Bridge. Sends post-purchase thank you, review requests (7 days), and win-back emails for at-risk customers. All emails via wp_mail() through n8nPress email proxy. Only active when no CRM plugin is detected.",
        "required_env": [
            "WP_SITE_URL"
        ],
        "required_credentials": [],
        "workflow_flow": "Daily 9AM / Webhook → Site Config → Fetch Queue → Route by Type → Build Email → Send via Email Proxy → Mark Done"
    }
}
