n8n-workflows/workflow-aeo-generator.json
{
  "name": "AEO Content Generator",
  "active": true,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 10 * * *"
            }
          ]
        }
      },
      "name": "Daily Schedule",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 0],
      "id": "aeo-schedule"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "aeo-generate",
        "options": {}
      },
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 250],
      "id": "aeo-webhook"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.WP_SITE_URL }}/wp-json/n8npress/v1/site-config",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "options": { "timeout": 15000 }
      },
      "name": "Site Config",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [250, -100],
      "id": "aeo-site-config"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.WP_SITE_URL }}/wp-json/n8npress/v1/aeo/coverage",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "options": {
          "timeout": 30000
        }
      },
      "name": "AEO Coverage Check",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [500, 100],
      "id": "aeo-coverage"
    },
    {
      "parameters": {
        "jsCode": "const coverage = $input.first().json;\nconst uncovered = (coverage.uncovered_products || []).slice(0, 10);\n\nif (uncovered.length === 0) {\n  return [{ json: { skip: true, message: 'All products covered' } }];\n}\n\nreturn uncovered.map(product => ({\n  json: {\n    product_id: product.id,\n    product_name: product.name,\n    product_description: product.description || '',\n    product_categories: (product.categories || []).join(', '),\n    product_url: product.permalink || '',\n    target_language: product.language || 'tr',\n    skip: false\n  }\n}));"
      },
      "name": "Uncovered Products",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [700, 100],
      "id": "aeo-uncovered"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "skip-check",
              "leftValue": "={{ $json.skip }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "name": "Has Products?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [900, 100],
      "id": "aeo-if-products"
    },
    {
      "parameters": {
        "batchSize": 5,
        "options": {
          "reset": false
        }
      },
      "name": "Batch 5",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [1100, 200],
      "id": "aeo-split"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "={{ $('Site Config').first().json.n8npress?.ai?.api_key || $env.ANTHROPIC_API_KEY }}"
            },
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"{{ $('Site Config').first().json.n8npress?.ai?.model || 'claude-haiku-4-5' }}\",\n  \"max_tokens\": {{ $('Site Config').first().json.n8npress?.ai?.max_tokens || 2000 }},\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": \"You are an SEO and AEO (Answer Engine Optimization) expert. For the following product, generate content in {{ $json.target_language }} language:\\n\\nProduct: {{ $json.product_name }}\\nDescription: {{ $json.product_description }}\\nCategories: {{ $json.product_categories }}\\n\\nGenerate the following in valid JSON format:\\n1. \\\"faqs\\\": Array of 5 FAQ pairs optimized for People Also Ask. Each with \\\"question\\\" and \\\"answer\\\" keys.\\n2. \\\"howto\\\": If applicable, a HowTo schema with \\\"name\\\", \\\"description\\\", and \\\"steps\\\" array (each step has \\\"name\\\" and \\\"text\\\"). Set to null if not applicable.\\n3. \\\"speakable\\\": A 2-3 sentence summary optimized for voice search / speakable structured data.\\n\\nRespond ONLY with valid JSON, no markdown.\"\n    }\n  ]\n}",
        "options": {
          "timeout": 60000
        }
      },
      "name": "Claude AI Generate",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1300, 200],
      "id": "aeo-claude"
    },
    {
      "parameters": {
        "jsCode": "const response = $input.first().json;\nconst content = response.content?.[0]?.text || '{}';\nlet parsed;\ntry {\n  parsed = JSON.parse(content);\n} catch(e) {\n  const match = content.match(/\\{[\\s\\S]*\\}/);\n  parsed = match ? JSON.parse(match[0]) : { faqs: [], howto: null, speakable: '' };\n}\n\nconst productData = $('Batch 5').first().json;\n\nreturn [{\n  json: {\n    product_id: productData.product_id,\n    product_name: productData.product_name,\n    faqs: parsed.faqs || [],\n    howto: parsed.howto || null,\n    speakable: parsed.speakable || ''\n  }\n}];"
      },
      "name": "Parse Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1500, 200],
      "id": "aeo-parse"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.WP_SITE_URL }}/wp-json/n8npress/v1/aeo/save-faq",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"product_id\": {{ $json.product_id }},\n  \"faqs\": {{ JSON.stringify($json.faqs) }}\n}",
        "options": {}
      },
      "name": "Save FAQ",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1750, 50],
      "id": "aeo-save-faq"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.WP_SITE_URL }}/wp-json/n8npress/v1/aeo/save-howto",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"product_id\": {{ $json.product_id }},\n  \"howto\": {{ JSON.stringify($json.howto) }}\n}",
        "options": {}
      },
      "name": "Save HowTo",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1750, 200],
      "id": "aeo-save-howto"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.WP_SITE_URL }}/wp-json/n8npress/v1/aeo/save-speakable",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"product_id\": {{ $json.product_id }},\n  \"speakable\": {{ JSON.stringify($json.speakable) }}\n}",
        "options": {}
      },
      "name": "Save Speakable",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1750, 350],
      "id": "aeo-save-speakable"
    },
    {
      "parameters": {
        "amount": 2,
        "unit": "seconds"
      },
      "name": "Wait 2s",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [2000, 200],
      "id": "aeo-wait"
    },
    {
      "parameters": {
        "jsCode": "const items = $('Parse Response').all();\nconst config = $('Site Config').first().json;\nconst now = new Date().toISOString().split('T')[0];\nconst siteName = config.site?.name || 'Site';\nconst adminEmail = config.site?.admin_email || '';\n\nlet report = `AEO Content Generation Report - ${siteName}\\nDate: ${now}\\n\\n`;\nreport += `Total products processed: ${items.length}\\n\\n`;\n\nitems.forEach((item, i) => {\n  const d = item.json;\n  report += `${i + 1}. ${d.product_name} (ID: ${d.product_id})\\n`;\n  report += `   FAQ: ${d.faqs.length} items\\n`;\n  report += `   HowTo: ${d.howto ? 'Yes' : 'No'}\\n`;\n  report += `   Speakable: ${d.speakable ? 'Yes' : 'No'}\\n\\n`;\n});\n\nreturn [{ json: { report, date: now, count: items.length, admin_email: adminEmail, site_name: siteName } }];"
      },
      "name": "Completion Report",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2250, 100],
      "id": "aeo-completion-report"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.WP_SITE_URL }}/wp-json/n8npress/v1/send-email",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"to\": \"{{ $json.admin_email }}\",\n  \"subject\": \"AEO Report - {{ $json.site_name }} - {{ $json.count }} products processed\",\n  \"body\": {{ JSON.stringify($json.report) }},\n  \"html\": false,\n  \"template\": \"n8npress\"\n}",
        "options": {}
      },
      "name": "Email Report",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2500, 100],
      "id": "aeo-email"
    }
  ],
  "connections": {
    "Daily Schedule": {
      "main": [
        [
          { "node": "Site Config", "type": "main", "index": 0 }
        ]
      ]
    },
    "Manual Trigger": {
      "main": [
        [
          { "node": "Site Config", "type": "main", "index": 0 }
        ]
      ]
    },
    "Site Config": {
      "main": [
        [
          { "node": "AEO Coverage Check", "type": "main", "index": 0 }
        ]
      ]
    },
    "AEO Coverage Check": {
      "main": [
        [
          { "node": "Uncovered Products", "type": "main", "index": 0 }
        ]
      ]
    },
    "Uncovered Products": {
      "main": [
        [
          { "node": "Has Products?", "type": "main", "index": 0 }
        ]
      ]
    },
    "Has Products?": {
      "main": [
        [],
        [
          { "node": "Batch 5", "type": "main", "index": 0 }
        ]
      ]
    },
    "Batch 5": {
      "main": [
        [
          { "node": "Claude AI Generate", "type": "main", "index": 0 }
        ],
        [
          { "node": "Completion Report", "type": "main", "index": 0 }
        ]
      ]
    },
    "Claude AI Generate": {
      "main": [
        [
          { "node": "Parse Response", "type": "main", "index": 0 }
        ]
      ]
    },
    "Parse Response": {
      "main": [
        [
          { "node": "Save FAQ", "type": "main", "index": 0 },
          { "node": "Save HowTo", "type": "main", "index": 0 },
          { "node": "Save Speakable", "type": "main", "index": 0 }
        ]
      ]
    },
    "Save FAQ": {
      "main": [
        [
          { "node": "Wait 2s", "type": "main", "index": 0 }
        ]
      ]
    },
    "Wait 2s": {
      "main": [
        [
          { "node": "Batch 5", "type": "main", "index": 0 }
        ]
      ]
    },
    "Save HowTo": {
      "main": [[]]
    },
    "Save Speakable": {
      "main": [[]]
    },
    "Completion Report": {
      "main": [
        [
          { "node": "Email Report", "type": "main", "index": 0 }
        ]
      ]
    }
  },
  "settings": {
    "timezone": "Europe/Istanbul",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "meta": {
    "description": "Generates AEO (Answer Engine Optimization) content for WooCommerce products: FAQ schema, HowTo schema, and Speakable markup using Claude AI. Reads site config from WordPress, sends reports via wp_mail proxy.",
    "required_env": ["WP_SITE_URL"],
    "required_credentials": ["httpHeaderAuth"],
    "workflow_flow": "Schedule/Webhook → Site Config → Coverage Check → Batch Products → Claude AI → Save FAQ/HowTo/Speakable → Report → Email"
  }
}
