n8n-workflows/workflow-open-claw.json
{
  "name": "n8nPress — Open Claw AI Assistant",
  "active": true,
  "nodes": [
    {
      "parameters": {
        "path": "open-claw",
        "responseMode": "lastNode",
        "options": { "rawBody": true }
      },
      "name": "Webhook - Chat Message",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 400],
      "id": "wh-claw-01"
    },
    {
      "parameters": {
        "jsCode": "// Prepare context for Claude\nconst body = $input.first().json.body;\nconst message = body.message || '';\nconst conversationId = body.conversation_id || '';\nconst callbackUrl = body.callback_url || '';\nconst context = body.site_context || {};\nconst user = body.user || {};\nconst channel = context.channel || 'admin';\n\nconst systemPrompt = `You are Open Claw, an AI assistant for managing WordPress + WooCommerce stores. You help the admin manage their store through natural language.\n\nStore: ${context.site_name || 'Store'} (${context.site_url || ''})\nProducts: ${context.products || 0} | Posts: ${context.posts || 0}\nSEO Plugin: ${context.seo_plugin || 'none'}\nTranslation: ${context.translation_plugin || 'none'}\nLanguages: ${(context.active_languages || []).join(', ') || 'default'}\nChannel: ${channel}\n\nAvailable actions you can suggest:\n${Object.entries(context.available_actions || {}).map(([k,v]) => '- ' + k + ': ' + v).join('\\n')}\n\nRules:\n- Be concise and helpful\n- Use markdown for formatting (**bold**, lists)\n- If the user wants to perform an action, include it in your response as JSON\n- For dangerous actions, always ask for confirmation\n- Include specific numbers and data when possible\n- If you don't know something, say so and suggest what you can do\n\nIf you want to suggest an action, end your response with a JSON block:\n{\"action\": \"action_type\", \"params\": {}, \"confirm\": true}\n\nUser: ${user.name || 'Admin'} (${user.email || ''})`;\n\nreturn [{\n  json: {\n    message,\n    conversationId,\n    callbackUrl,\n    systemPrompt,\n    channel\n  }\n}];"
      },
      "name": "Build AI Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [500, 400],
      "id": "code-claw-context-01"
    },
    {
      "parameters": {
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "x-api-key", "value": "={{ $('Webhook - Chat Message').first().json.body?._meta?.api_key || $env.ANTHROPIC_API_KEY }}" },
            { "name": "anthropic-version", "value": "2023-06-01" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"{{ $('Webhook - Chat Message').first().json.body?._meta?.model || 'claude-haiku-4-5' }}\",\n  \"max_tokens\": {{ $('Webhook - Chat Message').first().json.body?._meta?.max_tokens || 1000 }},\n  \"system\": \"{{ $json.systemPrompt }}\",\n  \"messages\": [\n    { \"role\": \"user\", \"content\": \"{{ $json.message }}\" }\n  ]\n}",
        "method": "POST",
        "options": { "timeout": 30000 }
      },
      "name": "Claude AI",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [740, 400],
      "id": "http-claude-claw-01"
    },
    {
      "parameters": {
        "jsCode": "// Parse Claude response\nconst aiResponse = $input.first().json;\nconst inputData = $('Build AI Context').first().json;\n\nlet responseText = '';\ntry {\n  responseText = aiResponse.content?.[0]?.text || 'I could not process that request.';\n} catch (e) {\n  responseText = 'Error processing AI response.';\n}\n\n// Check if response contains an action suggestion\nlet actions = [];\nconst actionMatch = responseText.match(/\\{[\\s\\S]*?\"action\"[\\s\\S]*?\\}/);\nif (actionMatch) {\n  try {\n    const actionJson = JSON.parse(actionMatch[0]);\n    if (actionJson.action) {\n      actions.push({\n        type: actionJson.action,\n        label: actionJson.label || actionJson.action,\n        description: actionJson.description || '',\n        data: actionJson.params || {},\n        confirm: actionJson.confirm !== false\n      });\n      // Remove action JSON from visible response\n      responseText = responseText.replace(actionMatch[0], '').trim();\n    }\n  } catch (e) {\n    // Not valid JSON, ignore\n  }\n}\n\nconst result = {\n  conversation_id: inputData.conversationId,\n  response: responseText,\n  actions: actions,\n  channel: inputData.channel\n};\n\n// If callback URL provided, also send async callback\nif (inputData.callbackUrl) {\n  result.callback_url = inputData.callbackUrl;\n}\n\nreturn [{ json: result }];"
      },
      "name": "Parse Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [980, 400],
      "id": "code-parse-claw-01"
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true },
          "conditions": [
            {
              "leftValue": "={{ $json.callback_url }}",
              "rightValue": "",
              "operator": { "type": "string", "operation": "notEquals" }
            }
          ]
        }
      },
      "name": "Has Callback?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1220, 400],
      "id": "if-callback-claw-01"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.callback_url }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Authorization", "value": "Bearer {{ $('Webhook - Chat Message').first().json.body?._meta?.api_token }}" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"conversation_id\": {{ JSON.stringify($json.conversation_id) }},\n  \"response\": {{ JSON.stringify($json.response) }},\n  \"actions\": {{ JSON.stringify($json.actions) }}\n}",
        "options": { "timeout": 10000 }
      },
      "name": "Send Callback",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1460, 340],
      "id": "http-callback-claw-01"
    },
    {
      "parameters": {
        "jsCode": "// Return response directly for webhook mode\nconst data = $('Parse Response').first().json;\nreturn [{\n  json: {\n    success: true,\n    response: data.response,\n    actions: data.actions,\n    conversation_id: data.conversation_id\n  }\n}];"
      },
      "name": "Return Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1460, 500],
      "id": "code-return-claw-01"
    }
  ],
  "connections": {
    "Webhook - Chat Message": {
      "main": [
        [{ "node": "Build AI Context", "type": "main", "index": 0 }]
      ]
    },
    "Build AI Context": {
      "main": [
        [{ "node": "Claude AI", "type": "main", "index": 0 }]
      ]
    },
    "Claude AI": {
      "main": [
        [{ "node": "Parse Response", "type": "main", "index": 0 }]
      ]
    },
    "Parse Response": {
      "main": [
        [{ "node": "Has Callback?", "type": "main", "index": 0 }]
      ]
    },
    "Has Callback?": {
      "main": [
        [{ "node": "Send Callback", "type": "main", "index": 0 }],
        [{ "node": "Return Response", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "timezone": "Europe/Istanbul",
    "saveManualExecutions": true,
    "executionOrder": "v1"
  },
  "meta": {
    "description": "Open Claw AI Assistant — processes complex admin queries that can't be resolved locally. Receives messages from admin panel, Telegram, or WhatsApp via the channel-message endpoint. Claude AI generates responses with optional action suggestions.",
    "required_env": [],
    "required_credentials": [],
    "workflow_flow": "Webhook → Build Context → Claude AI → Parse Response → [Callback / Direct Return]"
  }
}
